@{
    ViewBag.Title = "Contact";
}
    <h2 class="title">Contact</h2>
<p>Contact us via the information below</p>

<address>
    125 London Wall<br />
    City of London, EC2Y 5AS<br />
    <abbr title="Phone">P:</abbr>
    02077747041
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ningleton@spartaglobal.com">ningleton@spartaglobal.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ningleton@spartaglobal.com">ningleton@spartaglobal.com</a>
</address>

<style>

    .title
    {
        font-size:3em;
        font-weight:bold;
    }



</style>